.main-navbar {
    height: 70px;
    background-color: #DA5C5C;
    padding-left: 45px;
    display: flex;
    align-items: center;
}

.logo-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-left: 15px;
    }

.navbar-logo{
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .main-navbar {
        height: 70px;
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }
}